@mixin scrollTextToLeft {
    animation: scrollText 20s linear infinite;
}

@mixin scrollTextToRight {
    animation: scrollText 20s linear infinite reverse;
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
